$primary: hsl(205, 86%, 49%);
$blue-darker: #003060;
$blue-darkest: #0c2a47;
$blue-dark: #055c9d;
// $blue-primary: hsl(204, 88%, 44%);
$blue-primary: #199af0;
$blue-light: #4fb7eb;
$blue-lighter: #cdeeff;
$blue-lightest: #f3f8fa;
//
$grey-darker: #4b4949;
$grey-dark: #6d6d6d;
$grey: #747474;
$grey-light: #b1b1b1;
$grey-lighter: #e0dddd;
$grey-lightest: #f1f1f1;
//
$green-primary: #198754;
$green-lighter: #d1e7dd;
$green-preDark: #146c43;
$green-dark: #0a3622;
$green-light: #479f76;
//
$danger: #dc3545;
//
$red-primary: #e23547;
$red-light: #e35d6a;
$red-dark: #d33040;
//
$yellow-primary: #ffc107;
$yellow-dark: #997404;
$yellow-light: #ffda6a;
