$primary: hsl(205, 86%, 49%);
$blue-darker: #003c79;
$blue-darkest: #003060;
$blue-dark: #055c9d;
// $blue-primary: hsl(204, 88%, 44%);
$blue-primary: #199af0;
$blue-light: #53b1fd;
$blue-lighter: #cde7ff;
$blue-lightest: #e5f2ff;
$blue-ll: #f5fbff;
//
$grey-darker: #3a424a;
$grey-dark: #58646f;
$grey: hsl(209, 12%, 54%);
$grey-light: #a1abb5;
$grey-lighter: #c6ccd2;
$grey-lightest: #ebedef;
$grey-ll: #fcfdff;
//
$green-primary: #198754;
$green-lighter: #d1e7dd;
$green-preDark: #146c43;
$green-dark: #0a3622;
$green-light: #479f76;
//
$danger: #dc3545;
//
$red-primary: #e23547;
$red-light: #e35d6a;
$red-lighter: #fddde0;
$red-lightest: #fae5e7;
$red-dark: #d33040;
//
$yellow-primary: #ffc107;
$yellow-dark: #996a04;
$yellow-light: #ffda6a;
$yellow-lighter: #fce6a6;
