.checkbox-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.15s linear;
  .checkbox {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #fff;
    transition: 0.15s linear;

    border: {
      width: 1px;
      style: solid;
      radius: 2.5px;
      color: $blue-primary;
    }
    &:hover {
      border: {
        color: $blue-dark;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 20%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -72%) rotate(-45deg);
      right: 0;
      bottom: 0;
      border: {
        width: 0;
        left-width: 2.85px;
        bottom-width: 2.85px;
        style: solid;
        color: #fff;
      }
    }
  }
  .checked {
    background-color: $blue-primary;
    &:hover {
      background: {
        color: $blue-dark;
      }
    }
  }
  p {
    margin-left: 0.25rem;
    color: $blue-dark !important;
  }
  &:hover {
    transform: translateY(-5%);
  }
}
