@import "../../../scss/global/global";

.alertWin {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;

  .alertCont {
    background-color: #fff;
    display: grid;
    place-content: center;
    padding: 1rem 1rem 2rem 2rem;
    width: 90%;
    max-width: 350px;
    height: auto;
    border-radius: 5px;
    grid-auto-columns: 100%;
    @include shadow;
    .closeButton {
      display: block;
      text-align: right;
      i {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.15s linear;
        &:hover {
          background-color: $grey-lightest;
        }
        &:active {
          background-color: $grey-light;
        }
        &::before {
          display: grid;
          place-items: center;
          height: 100%;
        }
      }
    }
    .icon {
      display: block;
      margin-top: -15px;
      i {
        font-size: 2.1rem;
      }
    }
    .header {
      h3 {
        font-size: 1.75rem;
        font-weight: 600;
      }
    }
    p {
      font-size: 1.2rem;
      margin-right: 1rem;
    }
  }
  .success {
    .header {
      h3 {
        color: $green-primary;
      }
    }
    .closeButton {
      i {
        color: $green-primary;
      }
    }
    .icon {
      i {
        color: $green-primary;
      }
    }
    p {
      color: $green-light;
    }
  }
  .error {
    .header {
      h3 {
        color: $red-dark;
      }
    }
    .closeButton {
      i {
        color: $red-primary;
      }
    }
    .icon {
      i {
        color: $red-primary;
      }
    }
    p {
      color: $red-light;
    }
  }
  .info {
    .header {
      h3 {
        color: $blue-dark;
      }
    }
    .closeButton {
      i {
        color: $blue-primary;
      }
    }
    .icon {
      i {
        color: $blue-primary;
      }
    }
    p {
      color: $blue-light;
    }
  }
}
