$primary: hsl(205, 86%, 49%);
$blue-darker: #003060;
$blue-dark: #055c9d;
// $blue-primary: hsl(204, 88%, 44%);
$blue-primary: #199af0;
$blue-light: #4fb7eb;
$blue-lighter: #cdeeff;
$grey-darker: #4b4949;
$grey-dark: #6d6d6d;
$grey: #747474;
$grey-light: #b1b1b1;
$grey-lighter: #f1f1f1;
$danger: #dc3545;
