@import '../global/global';

.menubar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  .right {
    width: 100%;
    display: flex;
    max-width: 150px;
    gap: 1rem;
  }
  .menuItem {
    font-size: 0.8rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    &:hover {
      background-color: $grey-lightest;
    }
    &:active {
      background-color: $grey-lighter;
    }
  }
}
