@import './global/global';
.alertWin {
  a {
    color: $blue-primary;
    margin-left: 0.25rem;
  }
  position: fixed;
  z-index: 10;
  width: 100%;
  display: grid;
  place-items: center;
  top: 50%;
  left: 0;
  .alertCont {
    background-color: #fff;
    display: grid;
    place-content: center;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    grid-auto-columns: 100%;
    transition: 0.2s ease-in-out;
    @include shadow;
    gap: 0.4rem;
    .icon {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      i {
        font-size: 2.1rem;
        padding-block: 0.15rem;
      }
      .closeButton {
        display: block;
        text-align: right;
        i {
          height: 45px;
          width: 45px;
          font-size: 1.25rem;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.15s linear;
          &:hover {
            background-color: $grey-lightest;
          }
          &:active {
            background-color: $grey-light;
          }
          &::before {
            display: grid;
            place-items: center;
            height: 100%;
          }
        }
      }
    }
    .header {
      h3 {
        font-size: 1.75rem;
        font-weight: 600;
      }
    }
    .p {
      font-size: 1.05rem;
      width: 100%;
      font-weight: 300;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        padding: 0.5rem 1.5rem;
        border: 0;
        font-size: 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.15s linear;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          @include shadow;
          opacity: 0.5;
        }
      }
    }
  }
  .success {
    .header {
      h3 {
        color: $green-primary;
      }
    }
    .closeButton {
      i {
        color: $green-primary;
      }
    }
    .icon {
      i {
        color: $green-primary;
      }
    }
    .p {
      color: $green-light;
    }
    .button {
      button {
        background-color: $green-primary;
        color: #fff;
      }
    }
  }
  .error {
    .header {
      h3 {
        color: $red-dark;
      }
    }
    .closeButton {
      i {
        color: $red-primary;
      }
    }
    .icon {
      i {
        color: $red-primary;
      }
    }
    .p {
      color: $red-light;
    }
    .button {
      button {
        background-color: $red-primary;
        color: #fff;
      }
    }
  }
  .info {
    .header {
      h3 {
        color: $blue-dark;
      }
    }
    .closeButton {
      i {
        color: $blue-primary;
      }
    }
    .icon {
      i {
        color: $blue-primary;
      }
    }
    .p {
      color: $blue-light;
    }
    .button {
      button {
        background-color: $blue-primary;
        color: #fff;
      }
    }
  }
  .warn {
    .header {
      h3 {
        color: $yellow-dark;
      }
    }
    .closeButton {
      i {
        color: $yellow-primary;
      }
    }
    .icon {
      i {
        color: $yellow-primary;
      }
    }
    .p {
      color: $yellow-dark;
    }
    .button {
      button {
        background-color: $yellow-primary;
        color: #fff;
      }
    }
  }
}

.off {
  pointer-events: none;
  .alertCont {
    transform: scale(0) translateY(-50%);
  }
}
.on {
  .alertCont {
    transform: scale(1) translateY(-50%);
  }
}
