@import './global/global';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', 'Noto Sans Bengali', sans-serif;
  font-weight: 400;

  &:focus {
    outline: none;
  }
  &:active {
    -webkit-tap-highlight-color: transparent;
  }
}
p {
  word-wrap: break-word;
}
body {
  background-color: lighten($color: $grey-lightest, $amount: 1.5) ();
}
html {
  font-size: clamp(15.5px, 2.5vw, 16px);
}

.freeze {
  pointer-events: none;
  opacity: 0.2;
  overflow: hidden;
  user-select: none;
}

.duotone {
  .light {
    color: $grey-light;
  }
  .dark {
    color: $grey-dark;
  }
  .masked {
    text-shadow: -2px -2px 0px #fff, -2px 2px 0px #fff, 2px -2px 0px #fff, 2px 2px 0px #fff;
  }
}
@media only screen and (max-width: 340px) {
  html {
    font-size: clamp(14px, 2vw, 16px);
  }
}
