@import './global/global';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;

  &:focus {
    outline: none;
  }
  &:active {
    -webkit-tap-highlight-color: transparent;
  }
}
p {
  word-wrap: break-word;
}
.freeze {
  pointer-events: none;
  opacity: 0.2;
  overflow: hidden;
}
.s {
  transition: 0.2s ease-in-out;
}
