@import './global/global';

.cont {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  .innerCont {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    padding: 1rem;
    height: 100%;
    display: grid;
    max-height: 70vh;
    overflow-y: auto;
    h2 {
      color: $blue-dark;
      font-size: 1.3rem;
      font-weight: 500;
    }
    .memberList {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      text-align: left;
      gap: 1rem;
      .item {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          outline: 1px solid $grey-lighter;
          outline-offset: 1px;
          flex-basis: 45px;
          flex-shrink: 0;
          object-fit: cover;
        }
        p {
          width: 100%;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        i {
          color: $grey-light;
        }
      }
    }
  }
}
