@import './global/global';

.headerCont {
  display: grid;
  place-items: center;
  padding-top: 2rem;
  & > div {
    width: 100%;
    max-width: 700px;
    display: flex;
    gap: 1rem;
    // text-align: center;
    justify-content: center;
    align-items: center;
    // justify-items: center;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr;
    .addPostCont,
    .reloadCont {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.8rem;
      background-color: #fff;
      border: none;
      border-bottom: 4px solid $grey-lighter;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      position: relative;
      cursor: pointer;
      @include shadow;
      transition: 0.05s linear;
      .text {
        font-size: 1.1rem;
        padding: 0 0 0.2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        p {
          color: $blue-darker;
          font-weight: 550;
        }
      }
      .image {
        position: relative;
        .img {
          width: 2.5rem;
          font-size: 2.5rem;
          z-index: 1;
          color: $blue-primary;
        }
        .i {
          position: absolute;
          right: -5px;
          bottom: -5px;
          color: $blue-primary;
          font-size: 1.2rem;
          z-index: 1;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #fff;
          width: 0.6rem;
          height: 0.7rem;
          z-index: 0;
        }
      }
      .maskfix::after {
        width: 0;
        height: 0;
      }
      &:hover {
        background-color: $grey-ll;
        border-bottom-color: $blue-light;
      }
      &:active {
        background-color: $blue-light;
        transform: translateY(5px) translateZ(10px);
        border-bottom: none;
        .text {
          p {
            color: #ffffffea;
          }
        }
        .image {
          img {
            filter: brightness(0) invert(1);
            opacity: 0.5;
          }
          i {
            color: #fff;
          }
          &::after {
            background-color: $blue-primary;
          }
        }
      }
    }

    .reloadCont {
      .image::after {
        display: none;
      }
    }
  }
  .clockContP {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1.5px solid $blue-light;
    padding: 1rem;
    border-radius: 5px;
    height: 100%;
    i {
      font-size: 3rem;
      color: $blue-dark;
    }
    h1 {
      font-family: Ubuntu Mono;
      font-weight: 600;
      color: $blue-primary;
      font-size: 1.6rem;
    }
    h3 {
      color: $blue-dark;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
