@import './global/global';

.span1 {
  background-color: $blue-lightest;
  color: $blue-primary;
}
.span2 {
  color: $blue-dark;
}
.span3 {
  text-decoration: underline $blue-primary;
}

.cont {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: clip;
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
    width: 100%;
    text-align: center;
    gap: 2rem;
    background-image: linear-gradient(to top left, #53b0fd28 0%, #ffffff 40%);
    animation: 20s infinite roam;

    @keyframes roam {
      0% {
        background-position: top left;
      }
      50% {
        background-position: top center;
      }
      0% {
        background-position: top right;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      .tag {
        margin-bottom: 1.5rem;
        background-color: $blue-lighter;
        padding: 0.5rem 2rem;
        border-radius: 9999px;
        color: $blue-primary;
      }
      button a {
        text-decoration: none;
        color: inherit;
      }
      button:nth-child(1) {
        flex: 1;
        font-size: 1.2rem;
        background: $blue-primary;
        color: #fff;
        padding: 0.75rem 2.1rem;
        border: none;
        margin: 0rem 0.25rem;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.15s linear all;
        &:hover {
          background: $blue-dark;
        }
        &:active:enabled {
          scale: 0.9;
        }
        &:disabled {
          opacity: 0.5;
        }
      }
      button:nth-child(2) {
        flex: 1;
        font-size: 1.2rem;
        background: $blue-lighter;

        color: $blue-primary;
        padding: 0.75rem 2.1rem;
        border: none;
        margin: 0rem 0.25rem;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.15s linear;
        &:hover:enabled {
          background: $blue-lightest;
        }
        &:active:enabled {
          scale: 0.9;
        }
        &:disabled {
          opacity: 0.5;
        }
      }
      h1 {
        font-size: 2.75rem;
        font-weight: 700;
        span {
          font-weight: 700;
        }
      }
      p {
        margin-block: 1rem;
        max-width: 650px;
        font-size: 1.25rem;
        text-align: center;
        opacity: 0.6;
        font-weight: 300;
      }
    }

    & > img {
      max-width: 100%;
      width: 650px;
      max-height: 30vh;
      display: block;
      object-fit: contain;
    }
  }
  .ssC {
    background-color: #f4f5f699;
  }
  .pointsCont {
    border-top: 1px solid #0353ca1a;

    padding-block: 2rem;
    text-align: center;

    & > h1 {
      font-weight: 600;
      margin-bottom: 0.5rem;

      span {
        font-weight: 700;
      }

      padding-inline: 1rem;
    }
    & > p {
      opacity: 0.5;
      padding-inline: 1rem;
    }

    .ss {
      display: grid;
      gap: 2rem;
      justify-content: center;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      padding-block: 2rem;
      padding-inline: 4rem;
      img {
        width: 100%;
        border-radius: 15px;
        box-shadow: 2px 2px 1px 3px #0000000a;
      }
      img:nth-child(1) {
        margin-top: 55px;
      }
      img:nth-child(3) {
        margin-top: 35px;
      }
    }

    .points {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      min-height: 50vh;
      padding: 2rem;
      gap: 1rem;
      max-width: 1300px;
      margin-inline: auto;
      & > div {
        padding: 2rem;
        background-color: $blue-ll;
        border-radius: 15px;
        border: 1px solid #43a6f713;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 1rem;
        i {
          font-size: 2.5rem;
          color: $blue-primary;
          // margin-left: 0.5rem;
          background-color: $blue-lightest;
          border: 1px solid #43a6f713;

          display: inline-block;
          padding: 1rem;
          border-radius: 10px;
        }
        h3 {
          font-size: 1.8rem;
          font-weight: 500;
          color: $blue-darkest;

          opacity: 0.9;
        }
        p {
          color: $blue-darkest;
          line-height: 1.6;
          opacity: 0.5;
        }
      }

      & > div:first-child {
        grid-row: span 2;
      }
    }
  }
  .dev {
    padding-bottom: 0;
    & > div {
      max-width: 1300px;
      margin-inline: auto;
      display: flex;
      gap: 2rem;
      align-items: center;

      & > div {
        text-align: left;
      }

      h3 {
        font-size: 2rem;
        font-weight: 600;
        span {
          font-weight: 600;
          color: $blue-primary;
        }
      }

      p {
        opacity: 0.5;
        margin-block: 1rem;
        line-height: 1.6;
      }

      .conn {
        border-radius: 15px;
        h2 {
          font-weight: 600;
        }

        div {
          display: flex;
          gap: 0.5rem;
          margin-block: 1rem;
          i {
            font-size: 2rem;
            color: $blue-primary;

            &:hover {
              color: $blue-light;
            }
          }
        }
      }
    }
    img {
      flex: 1;
      max-height: 450px;
    }
  }
  iframe {
    margin-block: 2rem;
    width: 100%;
    height: 450px;
    max-width: 750px;
  }
}

@media only screen and (max-width: 1260px) {
  .cont {
    .pointsCont {
      .ss {
        img {
          max-width: 550px;
        }
        img:nth-child(3) {
          grid-column: span 2;
          margin-top: 0;
        }
      }
    }
    .dev {
      padding-inline: 1.5rem;
      div {
        justify-content: center;
      }
      & > div {
        flex-direction: column;
        justify-content: center;
        & > div {
          text-align: center;
        }
      }
    }
  }
}

.footer {
  background-color: $blue-light;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
    i {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }
  & > div {
    gap: 0.5rem;
  }
  img {
    filter: brightness(0) invert(1);
    flex-basis: 40px;
    flex-shrink: 0;
  }
  color: white;
  h1 {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: -0.25rem;
  }
}
@media only screen and (max-width: 900px) {
  .cont {
    .hero {
      gap: 2rem;
      .text {
        gap: 0.25rem;

        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          padding-inline: 0.25rem;
        }
        button {
          font-size: 1rem !important;
        }
      }
    }
    .pointsCont {
      .points {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        & > div:first-child {
          grid-row: 1/1;
        }
      }
      .ss {
        img {
          margin: 0 !important;
        }
        img:nth-child(3) {
          grid-column: 1/1;
        }
      }
    }
  }
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }
}
