@import './global/_global.scss';
$part: 2;

.win {
  background: linear-gradient(27deg, rgba(25, 154, 240, 1) 0%, rgba(5, 92, 157, 1) 100%);
  width: 100%;
  height: 100vh;
  @include grid_cent();
  .cont {
    background-color: #fff;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 750px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px hsla(0, 0%, 0%, 0.342);
    overflow-x: hidden;
    .roller {
      width: 100% * $part;
      // background-color: rgba(250, 235, 215, 0.349);
      height: 100%;
      display: flex;
      transition: 0.5s ease-in-out;
      .contPer {
        width: 100% / $part;
        padding: 2rem;
        display: grid;
        place-items: center;
        .inner {
          width: 100%;
          max-width: 600px;
          .title {
            font-size: 2rem;
            font-family: Ubuntu;
            color: $blue-dark;
            padding-bottom: 2rem;
            i {
              color: $blue-primary;
            }
          }
          .warn {
            background-color: $yellow-lighter;
            color: $yellow-dark;
            font-weight: 500;
            padding: 1rem;
            border-radius: 7.5px;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          .gb {
            display: block;
            text-align: left;
            width: 100%;
            padding: 0 0 1rem 0;
            button {
              font-family: jost;
              font-size: 1.25rem;
              font-weight: 500;
              background: none;
              transition: 0.15s linear;
              border: {
                width: 0;
                style: solid;
                bottom-width: 2px;
                color: transparent;
              }
              cursor: pointer;
              color: $blue-primary;
              i {
                padding: 0 0.5rem 0 0;
              }
              &:hover {
                color: $blue-dark;
                border-color: $blue-dark;
              }
            }
          }
          .button {
            width: 100%;
            padding: 1rem 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button {
              flex: 1;
              font-size: 1.2rem;
              font-family: Jost;
              background: linear-gradient(27deg, $blue-light 0%, $blue-primary 100%);
              color: #fff;
              padding: 0.5rem 1.85rem;
              border: none;
              margin: 0rem 0.25rem;
              border-radius: 25px;
              cursor: pointer;
              transition: 0.25s linear;
              &:hover {
                box-shadow: 1px 1px 20px 1px #199af09c;
              }
              &:active {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .win {
    .cont {
      border-radius: 0;
      max-height: 100%;
    }
  }
}
