@import './global/global';
.npFormWin {
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 5;

  .npFormCont {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: auto;
    max-height: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    @include shadow;
    .inner {
      margin: 1.5rem 1rem 1rem 1.75rem;
      padding: 0.25rem 1rem 0rem 0.25rem;
      overflow-y: auto;
      display: grid;
      grid-template-columns: 1fr;
      @include scrollbar;
      .bottomBar {
        display: block;
        text-align: left;
        width: 100%;
        padding: 0 0 0.45rem 0;
        display: flex;
        justify-content: space-between;
        .addResources {
          height: 100%;
          .addPic {
            border: none;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 400;
            height: 45px;
            width: 45px;
            background-color: darken($blue-lightest, $amount: 3);
            color: $blue-primary;
            transition: 0.15s linear;
            i {
              position: relative;
              margin-right: 0.3rem;
              .plus {
                background-color: #fff;
                position: absolute;
                bottom: -15%;
                right: -40%;
                font-size: 0.6rem;
              }
            }
            &:hover {
              $color: opacify(
                $color: $blue-lighter,
                $amount: 0.02,
              );
            }
            &:active {
              background-color: $blue-primary;
              color: #fff;
            }
          }
        }
        .btnCont {
          margin-block: auto;
          padding-left: 0.75rem;
          position: relative;
          height: 100%;
          display: flex;
          &::before {
            content: '';
            position: absolute;
            height: 1.5rem;
            width: 1.5px;
            background-color: $grey-lighter;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
          }
          .closeBtn {
            border: none;
            background-color: darken($blue-lightest, $amount: 3);
            cursor: pointer;
            font-size: 1rem;
            height: 45px;
            width: 45px;
            margin-inline: 5px;
            transition: 0.15s linear;
            border-radius: 50%;
            color: $blue-primary;
            &:hover {
              background-color: $blue-lighter;
            }
            &:active {
              $color: opacify(
                $color: $blue-lighter,
                $amount: 0.1,
              );
            }
          }
          .addPost {
            color: #fff;
            background-color: $blue-primary;
            font-size: 1.05rem;
            font-weight: 500;
            padding: 0.3em 1.75rem 0.25rem 1.25rem;
            border: 0;
            height: auto;
            border-radius: 30px;
            transition: 0.15s linear;
            cursor: pointer;
            position: relative;
            div {
              display: flex;
              img {
                width: 1.25rem;
                animation: spin 1s linear infinite;
                transform-origin: center center;
                margin: auto 0;
              }
              @keyframes spin {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(360deg);
                }
              }
              p {
                margin-left: 0.35rem;
              }
            }
            &:hover {
              background-color: $blue-dark;
            }
            &:active {
              $color: opacify(
                $color: $blue-lighter,
                $amount: 0.1,
              );
              @include shadow($color, 0px, 0px, 0px, 4px);
            }
          }
          .disable {
            opacity: 0.6;
            cursor: not-allowed;
            &:hover {
              background-color: $blue-primary;
            }
            &:active {
              box-shadow: none;
            }
          }
        }
      }
      .postTextCont {
        width: 100%;
        padding: 0.5rem 0;
        textarea {
          width: 100%;
          transition: 0.3s ease-in-out;
          font-size: 1.2rem;
          resize: none;
          border: none;
          &::placeholder {
            color: $grey-light;
          }
          overflow-y: hidden;
          $color: opacify(
            $color: $blue-lighter,
            $amount: 0.02,
          );
          line-height: 24px;
          color: $grey-darker;
          caret-color: $blue-primary;
          @include scrollbar(10px);
        }
      }

      .imagesGridCont {
        margin-bottom: 1rem;
        border: 1px solid $blue-light;
        border-radius: 10px;
        padding: 0.2rem;
        text-align: center;
        background-color: $blue-lightest;
        & > p {
          padding-block: 1rem;
          cursor: pointer;
          color: $blue-dark;
          font-size: 1.05rem;
          border-radius: 10px;
          .angle {
            color: $blue-dark;
            margin-right: 1rem;
            transition: 0.1s ease-in-out;
          }
          .off {
            transform: rotate(0);
          }
          .on {
            transform: rotate(90deg);
          }
          i {
            color: $blue-primary;
            margin-right: 0.25rem;
          }
          &:hover {
            background-color: darken($blue-lightest, $amount: 3);
          }
        }
        div {
          display: grid;
          gap: 2.5px;
          @include scrollbar(5px);
          max-height: 413px;
          div {
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              cursor: pointer;
              position: relative;
              max-height: 402.5px;
              z-index: 0;
              &:hover {
                opacity: 0.8;
              }
            }
            button {
              z-index: 5;
              position: absolute;
              top: 0;
              right: 0;
              width: 30px;
              height: 30px;
              background-color: $red-lighter;
              border: none;
              color: $red-primary;
              border-radius: 50%;
              cursor: pointer;
              transition: 0.3s linear;
              i {
                pointer-events: none;
              }
              @include shadow;
              &:hover {
                color: #fff;
                background-color: $red-primary;
              }
            }
            p {
              z-index: 5;
              position: absolute;
              padding: 0 0.5rem;
              margin: 1rem;
              bottom: 0;
              right: 0;
              color: #fff;
              font-size: 0.8rem;
              background-color: $blue-primary;
              border-radius: 10px;
              @include shadow;
            }
          }
        }

        @include gridCont;
      }
    }
  }
}
.off {
  pointer-events: none;
  background-color: transparent;
  .npFormCont {
    transform: scale(0) translateY(-50%);
  }
}
.on {
  .npFormCont {
    transform: scale(1) translateY(-50%);
  }
}
@media only screen and (max-width: 500px) {
  .npFormWin {
    top: 0;
    .npFormCont {
      width: 100%;
      height: 100vh;
      .bottomBar {
        grid-row: 1;
      }
    }
  }
  .off {
    pointer-events: none;
    background-color: transparent;
    .npFormCont {
      transform: translateX(-110%);
    }
  }
  .on {
    .npFormCont {
      transform: translateX(0);
    }
  }
}
@media screen and (max-width: 375px) {
  .npFormWin {
    .npFormCont {
      width: 100%;
      height: 100vh;
      border-radius: 0;
      .inner {
        margin: 0.5rem;
        padding: 1.25rem 0.75rem;
      }
      & > div {
        margin: 0.5rem 0.5rem 0.5rem 0.75rem;
        padding: 0.45rem 1rem 0rem 0.25rem;
        overflow-y: auto;
        .postTextCont {
          textarea {
            padding: 0.5rem 0.25rem 0 0.25rem;
          }
        }
      }
    }
  }
}
