@import "../../../../../../scss/global/global";
.npFormWin {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  .npFormCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 90%;
    background-color: #fff;
    display: flex;
    padding: 1.5rem 2rem 1rem 2rem;
    flex-direction: column;
    border-radius: 7.5px;
    @include shadow;
    .inputTitle {
      padding: 1rem 0rem;
      input {
        width: 100%;
        height: auto;
        transition: 0.3s ease-in-out;
        font-size: 1.5rem;
        border: 1px solid $grey-lighter;
        $color: opacify(
          $color: $blue-lighter,
          $amount: 0.02,
        );
        border-radius: 5px;
        padding: 0.15rem 1rem;
        color: #000;
        &:focus {
          border: 1px solid $blue-light;
          @include shadow($color, 0px, 0px, 1px, 3.5px);
        }
      }
    }
    .closeBtnCont {
      display: block;
      text-align: left;
      width: 100%;
      padding: 0.45rem 0;
      display: flex;
      justify-content: space-between;
      .closeBtn {
        border: none;
        background-color: #fff;
        cursor: pointer;
        height: 40px;
        width: 40px;
        transition: 0.15s linear;
        border-radius: 50%;
        &:hover {
          background-color: $grey-lighter;
        }
        &:active {
          background-color: $grey-light;
        }
      }
      .addPost {
        color: #fff;
        background-color: $blue-primary;
        font-size: 1.05rem;
        padding: 0.2em 1.75rem;
        border: 0;
        height: auto;
        border-radius: 20px;
        transition: 0.15s linear;
        cursor: pointer;
        &:hover {
          background-color: $blue-dark;
        }
        &:active {
          $color: opacify(
            $color: $blue-lighter,
            $amount: 0.1,
          );
          @include shadow($color, 0px, 0px, 0px, 4px);
        }
      }
    }
    .postTextCont {
      width: 100%;
      textarea {
        width: 100%;
        height: 10rem;
        transition: 0.3s ease-in-out;
        font-size: 1rem;
        resize: none;
        border: 1px solid $grey-lighter;
        $color: opacify(
          $color: $blue-lighter,
          $amount: 0.02,
        );
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: #000;
        &:focus {
          border: 1px solid $blue-light;
          @include shadow($color, 0px, 0px, 1px, 3.5px);
        }
      }
    }
    img {
      width: 90%;
    }
  }
}
